.search-form {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  //   width: 100%;
  padding: 10px 20px;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
}
